# Node modules
node_modules/

# Environment variables (QUAN TRỌNG: không push lên Git)
.env
.env.local
.env.production

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Private Ngrok configs
ngrok.yml

# Uploaded files
backend/uploads/

# Build output
dist/
build/
